/**
 * App Window
 */
@define-color bg_color #E8E8E8;
@define-color window_bg @bg_color;
@define-color window_border_color rgba(255, 255, 255, 0.12);
@define-color prefs_backgroud #E0E5EB;

/**
 * Input
 */
@define-color selected_bg_color #5294e2;
@define-color selected_fg_color #FFFFFF;
@define-color input_color #282A33;
@define-color caret_color darker(@input_color);

/**
 * Result items
 */
@define-color item_name #9CA3B0;
@define-color item_text #282A33;
@define-color item_box_selected #5294E2;
@define-color item_text_selected #E0E5EB;
@define-color item_name_selected #E0E5EB;
@define-color item_shortcut_color #282A33;
@define-color item_shortcut_shadow darker(@bg_color);
@define-color item_shortcut_color_sel #C4C7CC;
@define-color item_shortcut_shadow_sel darker(@item_box_selected);

.app {
    background-color: alpha (@window_bg, 0.95);
    border-color: @window_border_color;
}

.input {
    color: @input_color;
}

/**
 * Selected text in input
 */
.input *:selected,
.input *:focus,
*:selected:focus {
    background-color: @selected_bg_color;
    color: @selected_fg_color;
}

.item-text {
    color: @item_text;
}

.item-name {
    color: @item_name;
}

.selected.item-box {
    background-color: alpha (@item_box_selected, 0.95);
    border-left: 1px solid @window_border_color;
    border-right: 1px solid @window_border_color;
}

.selected.item-box .item-text {
    color: @item_text_selected;
}

.selected.item-box .item-name {
    color: @item_name_selected;
}

.item-shortcut {
    color: @item_shortcut_color;
    text-shadow: 1px 1px 1px @item_shortcut_shadow;
}

.selected.item-box .item-shortcut {
    color: @item_shortcut_color_sel;
    text-shadow: 1px 1px 1px @item_shortcut_shadow_sel;
}

.prefs-btn {
    opacity: 0.8;
}

.prefs-btn * {
    box-shadow: none;
}

.prefs-btn:hover {
    background-color: @prefs_backgroud;
}

.no-window-shadow {
    margin: -20px;
}
